body {
	margin: 0px;
	padding: 0px;
	background-color: #00AF9C;
}
#wrapper {
	width: 1024px;
	height:768px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 36px;
	padding-bottom: 13px;
	padding-left: 64px;
	background-color: #FFF;
}
#Restringido {
	float: left;
	width: 213px;
	margin-right: 20px;
}
.footerEnlaces {
	font-size: 13px;
	padding-top: 14px;
}
#CNE {
	float: left;
	width: 213px;
	font-size: 24px;
	border-right: 20px;
}

#OVR {
	float: left;
	width: 213px;
	border-left: 20px;
}

#IMN {
	float: left;
	width: 213px;
	border-left:20px;
}

a{
	text-decoration:none;
}

.imEnlaces {
	width: 213px;
}
.Enlaces {
	width: 213px;
}

#footer {
	clear: both;
	padding-right: 64px;
}
#footerMonitoreo {
	font-size: 13px;
	padding-top: 14px;
}
.encabezado {
	font-size: 24px;
	padding-top: 28px;
	padding-right: 0px;
	padding-bottom: 34px;
	padding-left: 0px;
}
.encabezado span {
	color: #FFF;
}

#navbar {
	padding-top: 40px;
	padding-bottom: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}
